.navbar-inverse{
	margin: 0;
}

.logo{
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 50px;
	color: #ffc400;
	font-size: 16px;
	font-family: sans-serif;
}

.logo:hover{
	color: #ffc400;
	text-decoration: none;
}

.sign{
	float: right;
	padding: 5px;
}

.sidebars{
	top: 52px;
	bottom: 0;
	position: fixed;
	background-color: #ffc400;
	height: 100%;
}

.sidebar >ul{
	padding-top: 20px;
	background-color: #ffc400;
}

.sidebar >ul .deep a{
	background-color: black;
	color: #ffc400;
}

.sidebar >ul .deep a:hover{
	background-color: black;
	color: #ffc400;
}

.sidebar >ul .deep a:active{
	background-color: black;
	color: #ffc400;
}

.sidebar >ul li{
	padding-top: 20px;
	padding-left: 10px;
}

.sidebar >ul> li> a{
	color: black;
	border:1px solid black;
	padding-left: 40px;
}

.sidebar .list >li >a{
	color: black;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	background-color:  #ffc400;
	padding-left: 20px;
}

.sidebar .list >li >a:hover{
	color:  #ffc400;
	background-color: black;
	padding: 10px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 5px;
}

.sidebar >ul >li >a:hover{
	color:  #ffc400;
	background-color: black;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	padding: 10px;
}